# Environnement
.env
*.env

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Flask
instance/
*.db

# macOS
.DS_Store

# Logs
*.log

# IDE (VS Code, PyCharm...)
.vscode/
.idea/

# Frontend build (si utilisé plus tard)
dist/
build/
node_modules/
