<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>FORTUNE PLUS</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="container">
    <h1>SURBET ET FORTUNE GARANTIE</h1>
    <p class="subtitle">ARBITRAGE + STRATÉGIES, c'est la FORTUNE qui S'IMPOSE À NOUS</p>
    <div class="footer">
      <p>Signée par <strong>OZILEUDES Business</strong> - © Koffi Koffi Jean Eudes</p>
      <p>Contact : <a href="mailto:parieurspros1@gmail.com">parieurspros1@gmail.com</a></p>
    </div>
  </div>
</body>
</html>
